@import './../App.scss';

.stickyContainer{
    display: grid;
    align-content: start;
    top: -1rem; // for scrolling
}
.stickyElement{
    background: #fff;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: grid;
    align-content: center;
    padding-top: calc( (100vh - 55rem ) / 2 );
}
.Projects{
    height: 55rem;
    ul{
        @include  coverParentEl('none',absolute)
    }
    li{
        display: inline-block;
        width: calc(100% / 7);
        height: 100%;
        background: #fff;
        border-right: solid #fff .5rem;
        border-left: solid #fff .5rem;
        @include themify{
            background: rgba($color-lighter, 1);
        }
    }

    li.active{
        @include themify{
            background: rgba($color-secondary, 1);
        }
    }
}


.Project{
    @include  coverParentEl('none',absolute);
    display: grid;
    opacity: 0;
    transition: none;
    .btn__brick{
        display: inline-block;
        width: 14rem;
        margin: 0 .7rem 0 0;
        display: inline-grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        img{
            height: 2rem;
            margin-right: .5rem;
        }
    }


}
.Project_2clm{
    h2{
        margin-top: 10rem;
        font-size: 2.2rem;
    }
    display: grid;
    grid-template-columns: 30rem 1fr;
    text-align: left;
    align-items: center;
    grid-column-gap: 5rem;
    padding-right: 10%;
    padding-left: 10%;
}
.Project__img{
    width: 100%;
    left: 10%;
    top: 3rem;
}
.Project__multiple{
    margin-top: -3rem;
    width: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    img{
        height: 2.4rem;
        left: 7rem;
    }

}
.Project__desc{
    left: -5rem;
    opacity: 0;
    z-index: 3;

}
.Project.anim{
    opacity: 1;
}
.Project.anim .Project__desc{
    left: 0;
    opacity: 1;
    transition: .5s .2s ease-in-out;
}

.Project__id{
    position: absolute;
    top: 10rem;
    left: 5%;
    font-weight: bold;
    font-size: 1.8rem;
    @include themify{
        color: $color-primary;
    }
}
.Project__scrolls{
    display: none;
}
@include desktop-sm{
    .Project__img{
        width: 120%;
        left: 0;
    }
}
@include tablet{
    .Project__img{
        display: none;
    }
    .Project_2clm{
        grid-template-columns: 1fr;
    }
    .Project__desc{
        padding-left: 15%;
    }
    .Project__id{
        left: 12%;
    }
    .Project__multiple{
        margin-top: -6rem;
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        img{
            margin-left: 1rem;
        }

    }
    .Project__scrolls{
        display: block;
        position: absolute;
        bottom: 5rem;
        right: 5rem;
        font-size: 3rem;
        z-index: 99;
        div{
            cursor: pointer;
            transform: scaleY(1.4);
        }
    }
}

@include mobile{
    .stickyElement{
        padding-top: 0;
    }
    .Projects{
        height: 100vh;
    }
    .Project_2clm{
        height: 100vh;
        padding: 10rem 5rem 0 0;

        h2{
            margin-top: 0rem;
        }
    }
    .Project__multiple{
        margin-top: 0;
    }
    .Project__multiple img{
        left: 10%;
    }
    .Project__id{
        top: 7rem;
        left: 5rem;
    }

}
@include mobile-sm{
    .Project_2clm{
        padding: 5rem 5rem 0;

    }
    .Project__id{
        top: 5rem;
        left: 3rem;
        font-size: 1.5rem;
    }
    .Project__desc{
        padding-left: 0;
    }
    .Project__multiple{
        width: 1rem;
    }
    .Project__multiple_name{
        left: 4.5rem;
    }
    .Project__multiple_links{
        left: -16rem;
    }
    .Project .btn__brick{
        margin-top: -2rem;
        margin-bottom: -1rem;
        top: 1.5rem;
    }
    .Project__scrolls{
        right: 3rem;
    }
}
@include landscape{
    .Project__id{
        display: none;
    }
    .Project_2clm{
        padding-top: 4rem;
        padding-left: 0;

    }
    .Project__multiple{
        margin-top: -2rem;
    }
    .Project .btn__brick{
        margin-top: -5rem;
        top: 2rem;
    }
}
