.theme-color_transitioned {
  transition: color 1s; }
  .theme-level-1 .theme-color_transitioned {
    color: #15AABF; }
  .theme-level-2 .theme-color_transitioned {
    color: #EA1D60; }
  .theme-level-3 .theme-color_transitioned {
    color: #FFC107; }
  .theme-level-4 .theme-color_transitioned {
    color: #82c91e; }

.color_grey {
  color: #afafaf; }

.text_ctr {
  text-align: center; }

.txt_rgt {
  text-align: right; }

.txt_ctr {
  text-align: center; }

.e {
  display: inline-block;
  left: -.1rem;
  animation: rotateE .75s linear forwards; }

@keyframes rotateE {
  to {
    transform: rotate(-45deg); } }

.mobile {
  display: none; }

h1 {
  font-weight: 400;
  font-size: 1rem;
  display: inline-block; }

p {
  margin: 1rem auto; }

.section {
  background: #fff;
  display: grid;
  grid-template-columns: 15rem 1fr 12rem; }

.section_grey {
  background: #F2F2F0;
  width: 100%; }

.section__title span {
  display: inline-block;
  padding-bottom: 15rem;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  width: 30rem; }

.section__body {
  padding: 15rem 0;
  align-content: center;
  display: grid;
  min-height: 55rem;
  max-width: 120rem;
  width: 100%;
  justify-self: center; }

.section__body.section_2clm {
  grid-template-columns: 30rem 1fr;
  text-align: left;
  align-items: center;
  grid-column-gap: 5rem;
  padding-right: 10%;
  padding-left: 10%; }
  .section__body.section_2clm h2 {
    font-size: 2.5rem; }

.btn__brick {
  font-weight: bold;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #111;
  display: block;
  opacity: .5;
  padding: 3rem;
  transition: .25s;
  width: 23rem;
  text-align: center; }

.btn__brick:hover {
  cursor: pointer;
  opacity: .8;
  transition: .2s; }

footer {
  background: #3F3F3F;
  color: #cfcfcf;
  font-size: 1rem;
  text-align: center;
  padding: 2rem 3rem; }

.Cookies {
  font-size: 1.2rem;
  line-height: 1.4;
  width: 100%;
  background: #3F3F3F;
  color: #fff;
  padding: 3rem 7rem;
  z-index: 99; }

.Cookies b {
  cursor: pointer;
  font-size: 1.4rem;
  padding-left: 1rem; }

/* ...1200=====1024====tablet=====768=====mobile===480====320.... */
@media only screen and (max-width: 1200px) {
  .section {
    grid-template-columns: 10rem 1fr 8rem; }
  .section__title span {
    padding-bottom: 17rem; }
  .section__body.section_2clm {
    padding: 15rem 6rem; } }

@media only screen and (max-width: 1024px) {
  .section {
    grid-template-columns: 1fr; }
  .section__title span {
    display: none; }
  .section__body {
    padding: 10rem 0; }
  .section__body.section_2clm {
    padding: 10rem; }
  .Cookies {
    padding: 2rem 4rem; } }

@media only screen and (max-width: 768px) {
  .section_2clm h2 {
    font-size: 2.2rem;
    margin-bottom: 3rem; }
  .section__body.section_2clm {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    padding: 12rem 5rem;
    grid-column-gap: 0; }
  .mobile {
    display: block; }
  .Cookies {
    text-align: justify;
    font-size: 1rem; }
  .Cookies b {
    padding-left: 0;
    display: block;
    text-align: right;
    padding-top: 1rem; } }

@media only screen and (max-width: 480px) {
  .Cookies {
    padding: 2rem 3rem; } }

.Header {
  align-items: center;
  background: #fff;
  display: grid;
  font-size: 1.4rem;
  grid-template-columns: 1fr auto auto auto;
  padding: 4rem 0 3.5rem;
  overflow: hidden;
  text-align: left; }
  .Header div, .Header a {
    background: #fff; }
  .Header img {
    height: 2rem;
    padding: 0 .7rem; }
  .Header a:last-child {
    padding-right: 7rem; }
    .Header a:last-child img {
      padding-right: 0; }

.header__title {
  font-weight: bold;
  padding-left: 7rem; }

.header__mail {
  left: 16.5rem;
  transition: .7s; }
  .header__mail span {
    left: 5rem;
    padding-right: .7rem;
    opacity: 0;
    top: -.5rem;
    transition: all 1s ease-in-out; }
  .header__mail img {
    cursor: pointer;
    height: 1.8rem; }

.header__mail:hover {
  left: 0;
  transition: 1s; }
  .header__mail:hover span {
    left: 0;
    opacity: 1; }

@media only screen and (max-width: 1024px) {
  .Header a:last-child {
    padding-right: 4rem; }
  .header__title {
    padding-left: 4rem; } }

@media only screen and (max-width: 768px) {
  .Header {
    grid-template-columns: 1fr auto auto; }
  .header__mail {
    display: none; } }

@media only screen and (max-width: 480px) {
  .Header a:last-child {
    padding-right: 3rem; }
  .header__title {
    padding-left: 3rem;
    padding-right: 4rem; } }
